# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.ARTestTask.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\ProjectFiles\UnityProjects\ARTestTask\.idea\.idea.ARTestTask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
